name: CI/CD
on:
  push:
    branches: ["main"]
    paths:
      - "apps/auth/**"
      - "packages/**"
env:
  REGISTRY: ghcr.io
  NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY: ${{ vars.NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY }}
  NEXT_PUBLIC_UMAMI_WEBSITE_ID: ${{ vars.NEXT_PUBLIC_UMAMI_WEBSITE_ID_AUTH }}
  NEXT_PUBLIC_DOMAIN: ${{ vars.NEXT_PUBLIC_DOMAIN }}
  NEXT_PUBLIC_REDIRECT_URL: ${{ vars.NEXT_PUBLIC_REDIRECT_URL }}
  SKIP_ENV_VALIDATION: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Create .env file
        run: |
          echo "NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=${{ env.NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY }}" > apps/auth/.env.production
          echo "NEXT_PUBLIC_UMAMI_WEBSITE_ID=${{ env.NEXT_PUBLIC_UMAMI_WEBSITE_ID }}" >> apps/auth/.env.production
          echo "NEXT_PUBLIC_DOMAIN=${{ env.NEXT_PUBLIC_DOMAIN }}" >> apps/auth/.env.production
          echo "NEXT_PUBLIC_REDIRECT_URL=${{ env.NEXT_PUBLIC_REDIRECT_URL }}" >> apps/auth/.env.production

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: apps/auth/Dockerfile
          push: true
          tags: |
            ${{ env.REGISTRY }}/braeden6/monorepo/auth:latest
            ${{ env.REGISTRY }}/braeden6/monorepo/auth:${{ github.sha }}
          labels: |
            org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}
            org.opencontainers.image.revision=${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      # - name: Update system_setup manifests
      #   uses: actions/checkout@v3
      #   with:
      #     repository: braeden6/system_setup
      #     token: ${{ secrets.PAT_TOKEN }}
      #     path: system_setup

      # - name: Setup Kustomize
      #   uses: imranismail/setup-kustomize@v2

      # - name: Update Image Tag in Kustomization
      #   run: |
      #     cd system_setup/v3/deployments/auth-website
      #     kustomize edit set image ghcr.io/braeden6/monorepo/auth:${{ github.sha }}

      #     git config user.name "GitHub Actions"
      #     git config user.email "actions@github.com"
      #     git add kustomization.yaml
      #     git commit -m "Update personal-website image to ${{ github.sha }}"
      #     git push
