name: CI/CD
on:
  push:
    branches: [ "main" ]
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha,format=long
            type=ref,event=branch
            latest
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: apps/web/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
  update-manifests:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout infra repository
        uses: actions/checkout@v3
        with:
          repository: Braeden6/monorepo
          token: ${{ secrets.PAT_TOKEN }}
      - name: Install Kustomize
        uses: imranismail/setup-kustomize@v2
      - name: Update Kubernetes resources
        env:
          IMAGE_TAG: sha-${{ github.sha }}
        run: |
          cd v3/deployments/nextjs-app
          kustomize edit set image ghcr.io/${{ github.repository }}=ghcr.io/${{ github.repository }}:${IMAGE_TAG}
      - name: Commit and push changes
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          git add v3/deployments/nextjs-app/kustomization.yaml
          git commit -m "Update nextjs-app image tag to sha-${{ github.sha }}" || exit 0
          git push